In [18]:
import pandas as pd
import numpy as np
from heapq import nlargest
from heapq import nsmallest

In [19]:
#Import the data
df = pd.read_excel('realEstateDataAssessment.xlsx')

In [20]:
df.region.unique()

array(['NorOriente', 'SurOriente', 'Occidente', nan, 'SurOccidente',
       'NorOccidente', 'Centro'], dtype=object)

In [21]:
df_no_nan = df.dropna()

In [22]:
df_no_nan.head()

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
0,Apartamento,Arriendo,NorOriente,La Milagrosa,Medellín,130.0,2.0,1500000.0,3.0,Estrato 3
1,Apartamento,Arriendo,SurOriente,Oviedo,Medellín,150.0,3.0,3400000.0,3.0,Estrato 6
2,Apartamento,Arriendo,SurOriente,Castropol,Medellín,140.0,3.0,5500000.0,2.0,Estrato 6
3,Apartamento,Arriendo,SurOriente,El Poblado,Medellín,111.0,3.0,2990000.0,3.0,Estrato 6
4,Apartamento,Arriendo,SurOriente,El Poblado,Medellín,150.0,3.0,3300000.0,3.0,Estrato 6

In [23]:
r = ['NorOriente', 'SurOriente', 'Occidente','SurOccidente',
       'NorOccidente', 'Centro']

o = ['Venta', 'Arriendo']



top_dict_rent = {}
top_dict_sale = {}

for i in r:
    for j in o:
        temp_reg = 0
        temp_val = 0
        if j == 'Arriendo':
            ans = df.query("region == @i and oferta == @j")
            temp_reg = i
            temp_val = len(ans)
            top_dict_rent[temp_reg] = temp_val
        else:
            ans = df.query("region == @i and oferta == @j")
            temp_reg = i
            temp_val = len(ans)
            top_dict_sale[temp_reg] = temp_val

for clave in top_dict_rent:
    valor = top_dict_rent.get(clave)
    #print("En la clave {} tenemos a {}".format(clave, valor))
    f = open('q1r.txt','a')
    f.write(str(clave) + ',' + str(valor) +"\n")
    f.close()
    
for clave in top_dict_sale:
    valor = top_dict_sale.get(clave)
    #print("En la clave {} tenemos a {}".format(clave, valor))
    f = open('q1s.txt','a')
    f.write(str(clave) + ',' + str(valor) +"\n")
    f.close()

In [30]:
top_dict_rent

{'NorOriente': 89,
 'SurOriente': 2148,
 'Occidente': 608,
 'SurOccidente': 255,
 'NorOccidente': 334,
 'Centro': 100}

In [31]:
top_dict_sale

{'NorOriente': 494,
 'SurOriente': 5956,
 'Occidente': 2965,
 'SurOccidente': 1336,
 'NorOccidente': 1440,
 'Centro': 445}

# 2

In [7]:
#Import the data
df = pd.read_excel('realEstateDataAssessment.xlsx')

In [8]:
#Nomalize the neighborhood data
df['barrio'] = df['barrio'].str.lower()
df.head()

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
0,Apartamento,Arriendo,NorOriente,la milagrosa,Medellín,130.0,2.0,1500000.0,3.0,Estrato 3
1,Apartamento,Arriendo,SurOriente,oviedo,Medellín,150.0,3.0,3400000.0,3.0,Estrato 6
2,Apartamento,Arriendo,SurOriente,castropol,Medellín,140.0,3.0,5500000.0,2.0,Estrato 6
3,Apartamento,Arriendo,SurOriente,el poblado,Medellín,111.0,3.0,2990000.0,3.0,Estrato 6
4,Apartamento,Arriendo,SurOriente,el poblado,Medellín,150.0,3.0,3300000.0,3.0,Estrato 6

In [9]:
#Get neigborhoods that have regions as a value
df_nei = df.loc[df['barrio'].isin(['nororiente', 'suroriente', 'occidente','suroccidente',
       'noroccidente', 'centro'])]
df_nei.head()

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
28,Apartamento,Arriendo,SurOccidente,suroccidente,Medellín,150.0,3.0,3000000.0,3.0,Estrato 5
34,Apartamento,Arriendo,SurOriente,suroriente,Medellín,116.0,3.0,2400000.0,3.0,Estrato 5
143,Apartamento,Arriendo,Centro,centro,Medellín,128.0,3.0,680000.0,3.0,Estrato 3
145,Apartamento,Arriendo,Centro,centro,Medellín,125.0,3.0,2000000.0,4.0,Estrato 4
245,Apartamento,Arriendo,SurOccidente,suroccidente,Medellín,122.0,4.0,4400000.0,3.0,Estrato 5

In [10]:
#Get rows number of neigborhoods that have regions as a value cases
rows_index = []
for row in df_nei.index:
    rows_index.append(row)

In [11]:
#Drop neigborhoods that have regions as a value cases
for i in rows_index:
    df = df.drop(i)
df.head()

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
0,Apartamento,Arriendo,NorOriente,la milagrosa,Medellín,130.0,2.0,1500000.0,3.0,Estrato 3
1,Apartamento,Arriendo,SurOriente,oviedo,Medellín,150.0,3.0,3400000.0,3.0,Estrato 6
2,Apartamento,Arriendo,SurOriente,castropol,Medellín,140.0,3.0,5500000.0,2.0,Estrato 6
3,Apartamento,Arriendo,SurOriente,el poblado,Medellín,111.0,3.0,2990000.0,3.0,Estrato 6
4,Apartamento,Arriendo,SurOriente,el poblado,Medellín,150.0,3.0,3300000.0,3.0,Estrato 6

In [17]:
#Get the unique neigborhood names
nei = df['barrio'].unique()
status = df['oferta'].unique()

top_dict_rent = {}
top_dict_sale = {}

for i in nei:
    for j in status:
        temp_reg = 0
        temp_val = 0
        if j == 'Arriendo':
            ans = df.query("barrio == @i and oferta == @j")
            temp_reg = i
            temp_val = len(ans)
            top_dict_rent[temp_reg] = temp_val
        else:
            ans = df.query("barrio == @i and oferta == @j")
            temp_reg = i
            temp_val = len(ans)
            top_dict_sale[temp_reg] = temp_val
            
for clave in top_dict_rent:
    valor = top_dict_rent.get(clave)
    #print("En la clave {} tenemos a {}".format(clave, valor))
    f = open('q1r.txt','a')
    f.write(str(clave) + ',' + str(valor) +"\n")
    f.close()
    
for clave in top_dict_sale:
    valor = top_dict_sale.get(clave)
    #print("En la clave {} tenemos a {}".format(clave, valor))
    f = open('q1s.txt','a')
    f.write(str(clave) + ',' + str(valor) +"\n")
    f.close()

# 3.

In [24]:
#Import the data
df = pd.read_excel('realEstateDataAssessment.xlsx')

In [25]:
#Get the unique neigborhood names
stra = df['estrato'].unique()
status = df['oferta'].unique()

top_dict_rent = {}
top_dict_sale = {}

for i in stra:
    for j in status:
        temp_reg = 0
        temp_val = 0
        if j == 'Arriendo':
            ans = df.query("estrato == @i and oferta == @j")
            temp_reg = i
            temp_val = len(ans)
            top_dict_rent[temp_reg] = temp_val
        else: 
            ans = df.query("estrato == @i and oferta == @j")
            temp_reg = i
            temp_val = len(ans)
            top_dict_sale[temp_reg] = temp_val

for clave in top_dict_rent:
    valor = top_dict_rent.get(clave)
    #print("En la clave {} tenemos a {}".format(clave, valor))
    f = open('q3r.txt','a')
    f.write(str(clave) + ',' + str(valor) +"\n")
    f.close()

for clave in top_dict_sale:
    valor = top_dict_sale.get(clave)
    #print("En la clave {} tenemos a {}".format(clave, valor))
    f = open('q3s.txt','a')
    f.write(str(clave) + ',' + str(valor) +"\n")
    f.close()

In [48]:
top_dict_rent

{'Estrato 3': 734,
 'Estrato 6': 2259,
 'Estrato 4': 868,
 'Estrato 5': 1247,
 'Estrato 2': 92,
 'Estrato 0': 5,
 'Estrato 1': 6,
 'Campestre': 1}

In [49]:
top_dict_sale

{'Estrato 3': 2274,
 'Estrato 6': 6133,
 'Estrato 4': 3532,
 'Estrato 5': 5134,
 'Estrato 2': 284,
 'Estrato 0': 50,
 'Estrato 1': 33,
 'Campestre': 3}

# 4

In [29]:
#Import the data
df = pd.read_excel('realEstateDataAssessment.xlsx')

In [30]:
#Nomalize the  elpoblado neighborhood data
df['barrio'] = df['barrio'].str.lower()
df.head()

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
0,Apartamento,Arriendo,NorOriente,la milagrosa,Medellín,130.0,2.0,1500000.0,3.0,Estrato 3
1,Apartamento,Arriendo,SurOriente,oviedo,Medellín,150.0,3.0,3400000.0,3.0,Estrato 6
2,Apartamento,Arriendo,SurOriente,castropol,Medellín,140.0,3.0,5500000.0,2.0,Estrato 6
3,Apartamento,Arriendo,SurOriente,el poblado,Medellín,111.0,3.0,2990000.0,3.0,Estrato 6
4,Apartamento,Arriendo,SurOriente,el poblado,Medellín,150.0,3.0,3300000.0,3.0,Estrato 6

In [31]:
df_ep = df.loc[df['barrio'].isin(['el poblado', 'poblado'])]
df_ep

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
3,Apartamento,Arriendo,SurOriente,el poblado,Medellín,111.0,3.0,2990000.0,3.0,Estrato 6
4,Apartamento,Arriendo,SurOriente,el poblado,Medellín,150.0,3.0,3300000.0,3.0,Estrato 6
9,Apartamento,Arriendo,NaN,poblado,Medellín,107.0,2.0,5000000.0,5.0,Estrato 6
12,Apartamento,Arriendo,NaN,el poblado,Medellín,135.0,3.0,3100000.0,4.0,Estrato 6
60,Apartamento,Arriendo,NaN,el poblado,Medellín,111.0,3.0,2990000.0,3.0,Estrato 6
...,...,...,...,...,...,...,...,...,...,...
22272,Apartamento,Venta,SurOriente,el poblado,Medellín,50.0,2.0,480000000.0,1.0,Estrato 5
22520,Apartamento,Venta,NaN,poblado,Medellín,38.0,2.0,250000000.0,2.0,Estrato 5
22526,Apartamento,Venta,SurOriente,el poblado,Medellín,30.0,1.0,230000000.0,1.0,Estrato 6
22570,Apartamento,Venta,SurOriente,el poblado,Medellín,50.0,2.0,380000000.0,2.0,Estrato 5
22614,Apartamento,Venta,SurOriente,el poblado,Medellín,43.0,2.0,460000000.0,1.0,Estrato 6

In [32]:
#Get the df where el poblado is on rent or sale
status = df['oferta'].unique()

top_dict_po = {}

for i in status:
        ans = df_ep.query("oferta == @i and area_metros < 500")
        temp_reg = i
        ep_mean = ans['area_metros'].mean()
        temp_val = ep_mean
        top_dict_po[temp_reg] = temp_val

for clave in top_dict_po:
    valor = top_dict_po.get(clave)
    #print("En la clave {} tenemos a {}".format(clave, valor))
    f = open('q4.txt','a')
    f.write(str(clave) + ',' + str(valor) +"\n")
    f.close()

In [75]:
top_dict_po

{'Arriendo': 138.37868852459016, 'Venta': 169.1141158301159}

# 5

In [33]:
#Import the data
df = pd.read_excel('realEstateDataAssessment.xlsx')

In [34]:
#Nomalize the  elpoblado neighborhood data
df['barrio'] = df['barrio'].str.lower()
df.head()

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
0,Apartamento,Arriendo,NorOriente,la milagrosa,Medellín,130.0,2.0,1500000.0,3.0,Estrato 3
1,Apartamento,Arriendo,SurOriente,oviedo,Medellín,150.0,3.0,3400000.0,3.0,Estrato 6
2,Apartamento,Arriendo,SurOriente,castropol,Medellín,140.0,3.0,5500000.0,2.0,Estrato 6
3,Apartamento,Arriendo,SurOriente,el poblado,Medellín,111.0,3.0,2990000.0,3.0,Estrato 6
4,Apartamento,Arriendo,SurOriente,el poblado,Medellín,150.0,3.0,3300000.0,3.0,Estrato 6

In [35]:
df_la = df.loc[df['barrio'].isin(['laureles'])]
df_la

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
48,Apartamento,Arriendo,Occidente,laureles,Medellín,150.0,4.0,2500000.0,3.0,Estrato 5
52,Apartamento,Arriendo,Occidente,laureles,Medellín,105.0,3.0,2900000.0,3.0,Estrato 4
78,Apartamento,Arriendo,Occidente,laureles,Medellín,120.0,3.0,5700000.0,2.0,Estrato 5
85,Apartamento,Arriendo,NaN,laureles,Medellín,110.0,2.0,1800000.0,3.0,Estrato 5
87,Apartamento,Arriendo,NaN,laureles,Medellín,110.0,3.0,4900000.0,3.0,Estrato 5
...,...,...,...,...,...,...,...,...,...,...
22379,Apartamento,Venta,Occidente,laureles,Medellín,47.0,2.0,245000000.0,1.0,Estrato 4
22529,Apartamento,Venta,Occidente,laureles,Medellín,50.0,2.0,275000000.0,2.0,Estrato 5
22574,Apartamento,Venta,NaN,laureles,Medellín,50.0,2.0,300000000.0,2.0,Estrato 4
22600,Apartamento,Venta,Occidente,laureles,Medellín,50.0,1.0,270000000.0,1.0,Estrato 5
22620,Apartamento,Venta,Occidente,laureles,Medellín,50.0,2.0,325000000.0,2.0,Estrato 4

In [36]:
#Get the df where laureles is on rent or sale
status = df['oferta'].unique()

top_dict_rent = {}
top_dict_sale = {}

for i in status:
    if i == 'Arriendo':
        ans = df_la.query("oferta == @i and precio < 18e6")
        la_mean = ans['precio'].mean()
        temp_reg = i
        top_dict_rent[temp_reg] = la_mean
    else:
        ans = df_la.query("oferta == @i")
        la_mean = ans['precio'].mean()
        temp_reg = i
        top_dict_sale[temp_reg] = la_mean

for clave in top_dict_rent:
    valor = top_dict_rent.get(clave)
    #print("En la clave {} tenemos a {}".format(clave, valor))
    f = open('q5r.txt','a')
    f.write(str(clave) + ',' + str(valor) +"\n")
    f.close()

for clave in top_dict_sale:
    valor = top_dict_sale.get(clave)
    #print("En la clave {} tenemos a {}".format(clave, valor))
    f = open('q5s.txt','a')
    f.write(str(clave) + ',' + str(valor) +"\n")
    f.close()

In [81]:
top_dict_rent

{'Arriendo': 3113877.3946360154}

In [82]:
top_dict_sale

{'Venta': 586748642.2373418}

# 6

In [53]:
#Import the data
df = pd.read_excel('realEstateDataAssessment.xlsx')

In [54]:
#Nomalize the neighborhood data
df['barrio'] = df['barrio'].str.lower()
df.head()

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
0,Apartamento,Arriendo,NorOriente,la milagrosa,Medellín,130.0,2.0,1500000.0,3.0,Estrato 3
1,Apartamento,Arriendo,SurOriente,oviedo,Medellín,150.0,3.0,3400000.0,3.0,Estrato 6
2,Apartamento,Arriendo,SurOriente,castropol,Medellín,140.0,3.0,5500000.0,2.0,Estrato 6
3,Apartamento,Arriendo,SurOriente,el poblado,Medellín,111.0,3.0,2990000.0,3.0,Estrato 6
4,Apartamento,Arriendo,SurOriente,el poblado,Medellín,150.0,3.0,3300000.0,3.0,Estrato 6

In [55]:
#Get neigborhoods that have regions as a value
df_nei = df.loc[df['barrio'].isin(['nororiente', 'suroriente', 'occidente','suroccidente',
       'noroccidente', 'centro'])]
df_nei.head()

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
28,Apartamento,Arriendo,SurOccidente,suroccidente,Medellín,150.0,3.0,3000000.0,3.0,Estrato 5
34,Apartamento,Arriendo,SurOriente,suroriente,Medellín,116.0,3.0,2400000.0,3.0,Estrato 5
143,Apartamento,Arriendo,Centro,centro,Medellín,128.0,3.0,680000.0,3.0,Estrato 3
145,Apartamento,Arriendo,Centro,centro,Medellín,125.0,3.0,2000000.0,4.0,Estrato 4
245,Apartamento,Arriendo,SurOccidente,suroccidente,Medellín,122.0,4.0,4400000.0,3.0,Estrato 5

In [56]:
#Get rows number of neigborhoods that have regions as a value cases
rows_index = []
for row in df_nei.index:
    rows_index.append(row)

In [57]:
#Drop neigborhoods that have regions as a value cases
for i in rows_index:
    df = df.drop(i)
df.head()

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
0,Apartamento,Arriendo,NorOriente,la milagrosa,Medellín,130.0,2.0,1500000.0,3.0,Estrato 3
1,Apartamento,Arriendo,SurOriente,oviedo,Medellín,150.0,3.0,3400000.0,3.0,Estrato 6
2,Apartamento,Arriendo,SurOriente,castropol,Medellín,140.0,3.0,5500000.0,2.0,Estrato 6
3,Apartamento,Arriendo,SurOriente,el poblado,Medellín,111.0,3.0,2990000.0,3.0,Estrato 6
4,Apartamento,Arriendo,SurOriente,el poblado,Medellín,150.0,3.0,3300000.0,3.0,Estrato 6

In [58]:
#Get the unique neigborhood names
nei = df['barrio'].unique()
status = df['oferta'].unique()

top_dict_rent = {}
top_dict_sale = {}

for i in nei:
    for j in status:
        temp_nei = 0
        temp_mean = 0
        if j == 'Arriendo':
            ans = df.query("barrio == @i and oferta == @j and precio < 18e6")
            mean_t = ans['precio'].mean()
            temp_nei = i
            temp_mean = mean_t
            top_dict_rent[temp_nei] = temp_mean
    else:
            ans = df.query("barrio == @i and oferta == @j")
            mean_t = ans['precio'].mean()
            temp_nei = i
            temp_mean = mean_t
            top_dict_sale[temp_nei] = temp_mean

In [62]:
#Get the top 10 most expensive rents by neighborhood
top_10_rent = nlargest(10, top_dict_rent, key = top_dict_rent.get)
cnt = 1

for i in top_10_rent:
    print("El top " + str(cnt) +" mas costoso en renta son " + i + " --> " + str(top_dict_rent[i]))
    cnt += 1
    f = open('q6r.txt','a')
    f.write(str(i) + ',' + str(top_dict_rent[i]) +"\n")
    f.close()

El top 1 mas costoso en renta son el poblado i --> 12100000.0
El top 2 mas costoso en renta son san lucas el poblado --> 9500000.0
El top 3 mas costoso en renta son la intermedia --> 9500000.0
El top 4 mas costoso en renta son el poblado el tesoro --> 9000000.0
El top 5 mas costoso en renta son san fernando plaza --> 8900000.0
El top 6 mas costoso en renta son las lomas 1 --> 7833333.333333333
El top 7 mas costoso en renta son poblado los balsos 2 --> 7550000.0
El top 8 mas costoso en renta son medellín --> 7506250.0
El top 9 mas costoso en renta son visitación --> 7500000.0
El top 10 mas costoso en renta son la visitacion --> 7000000.0

In [64]:
#Get the top 10 most expensive sales by neighborhood
top_10_sale = nlargest(10, top_dict_sale, key = top_dict_sale.get)
cnt = 1
for i in top_10_sale:
    print("El top " + str(cnt) + " mas costoso en venta son " + i + " --> " + str(top_dict_sale[i]))
    cnt += 1
    f = open('q6s.txt','a')
    f.write(str(i) + ',' + str(top_dict_sale[i]) +"\n")
    f.close()

El top 1 mas costoso en venta son los balsos --> 8500909442.91689
El top 2 mas costoso en venta son ciudad del río --> 4313037500.0
El top 3 mas costoso en venta son estadio --> 4079291151.5151515
El top 4 mas costoso en venta son castilla --> 2782360655.7377048
El top 5 mas costoso en venta son provincia --> 2750000000.0
El top 6 mas costoso en venta son balsos parte alta --> 2500000000.0
El top 7 mas costoso en venta son viscaya --> 2350000000.0
El top 8 mas costoso en venta son el tesoro el poblado --> 2350000000.0
El top 9 mas costoso en venta son los colores --> 2096416582.2332268
El top 10 mas costoso en venta son los balsos nro 2 --> 1946666666.6666667

# 7

In [65]:
#Import the data
df = pd.read_excel('realEstateDataAssessment.xlsx')

In [66]:
#Nomalize the neighborhood data
df['barrio'] = df['barrio'].str.lower()
df.head()

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
0,Apartamento,Arriendo,NorOriente,la milagrosa,Medellín,130.0,2.0,1500000.0,3.0,Estrato 3
1,Apartamento,Arriendo,SurOriente,oviedo,Medellín,150.0,3.0,3400000.0,3.0,Estrato 6
2,Apartamento,Arriendo,SurOriente,castropol,Medellín,140.0,3.0,5500000.0,2.0,Estrato 6
3,Apartamento,Arriendo,SurOriente,el poblado,Medellín,111.0,3.0,2990000.0,3.0,Estrato 6
4,Apartamento,Arriendo,SurOriente,el poblado,Medellín,150.0,3.0,3300000.0,3.0,Estrato 6

In [67]:
#Get neigborhoods that have regions as a value
df_nei = df.loc[df['barrio'].isin(['nororiente', 'suroriente', 'occidente','suroccidente',
       'noroccidente', 'centro'])]
df_nei.head()

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
28,Apartamento,Arriendo,SurOccidente,suroccidente,Medellín,150.0,3.0,3000000.0,3.0,Estrato 5
34,Apartamento,Arriendo,SurOriente,suroriente,Medellín,116.0,3.0,2400000.0,3.0,Estrato 5
143,Apartamento,Arriendo,Centro,centro,Medellín,128.0,3.0,680000.0,3.0,Estrato 3
145,Apartamento,Arriendo,Centro,centro,Medellín,125.0,3.0,2000000.0,4.0,Estrato 4
245,Apartamento,Arriendo,SurOccidente,suroccidente,Medellín,122.0,4.0,4400000.0,3.0,Estrato 5

In [68]:
#Get rows number of neigborhoods that have regions as a value cases
rows_index = []
for row in df_nei.index:
    rows_index.append(row)

In [69]:
#Drop neigborhoods that have regions as a value cases
for i in rows_index:
    df = df.drop(i)
df.head()

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
0,Apartamento,Arriendo,NorOriente,la milagrosa,Medellín,130.0,2.0,1500000.0,3.0,Estrato 3
1,Apartamento,Arriendo,SurOriente,oviedo,Medellín,150.0,3.0,3400000.0,3.0,Estrato 6
2,Apartamento,Arriendo,SurOriente,castropol,Medellín,140.0,3.0,5500000.0,2.0,Estrato 6
3,Apartamento,Arriendo,SurOriente,el poblado,Medellín,111.0,3.0,2990000.0,3.0,Estrato 6
4,Apartamento,Arriendo,SurOriente,el poblado,Medellín,150.0,3.0,3300000.0,3.0,Estrato 6

In [70]:
#Get the unique neigborhood names
nei = df['barrio'].unique()
status = df['oferta'].unique()

bott_dict_rent = {}
bott_dict_sale = {}

for i in nei:
    for j in status:
        temp_nei = 0
        temp_mean = 0
        if j == 'Arriendo':
            ans = df.query("barrio == @i and oferta == @j and precio < 18e6")
            mean_t = ans['area_metros'].mean()
            temp_nei = i
            temp_mean = mean_t
            bott_dict_rent[temp_nei] = temp_mean
    else:
            ans = df.query("barrio == @i and oferta == @j")
            mean_t = ans['area_metros'].mean()
            temp_nei = i
            temp_mean = mean_t
            bott_dict_sale[temp_nei] = temp_mean

In [72]:
#Get the bottom 10 smallest properties in rent by neighborhood
bott_10_rent = nsmallest(10, bott_dict_rent, key = bott_dict_rent.get)
cnt = 1
for i in bott_10_rent:
    print("El bottom " + str(cnt) +" mas pequeño en m2 en renta son " + i + " --> " + str(bott_dict_rent[i]))
    cnt += 1
    f = open('q7r.txt','a')
    f.write(str(i) + ',' + str(bott_dict_rent[i]) +"\n")
    f.close()

El bottom 1 mas pequeño en m2 en renta son belen altavista --> 22.0
El bottom 2 mas pequeño en m2 en renta son aures --> 30.0
El bottom 3 mas pequeño en m2 en renta son calasanz parte alta --> 30.0
El bottom 4 mas pequeño en m2 en renta son belen san bernardo --> 32.0
El bottom 5 mas pequeño en m2 en renta son la pola --> 32.0
El bottom 6 mas pequeño en m2 en renta son campo valdes --> 34.84615384615385
El bottom 7 mas pequeño en m2 en renta son el rincon --> 35.0
El bottom 8 mas pequeño en m2 en renta son lorena --> 35.0
El bottom 9 mas pequeño en m2 en renta son san cristóbal --> 36.0
El bottom 10 mas pequeño en m2 en renta son barichara san antonio de prado --> 38.0

In [73]:
#Get the bottom 10 smalles properties in sale by neighborhood
bott_10_sale = nsmallest(10, bott_dict_sale, key = bott_dict_sale.get)
cnt = 1
for i in bott_10_sale:
    print("El bottom " + str(cnt) +" mas pequeño en m2 en venta son " + i + " --> " + str(bott_dict_sale[i]))
    cnt += 1
    f = open('q7s.txt','a')
    f.write(str(i) + ',' + str(bott_dict_sale[i]) +"\n")
    f.close()

El bottom 1 mas pequeño en m2 en venta son andalucia la francia --> 10.0
El bottom 2 mas pequeño en m2 en venta son metropolitano --> 28.0
El bottom 3 mas pequeño en m2 en venta son popular 2 --> 30.0
El bottom 4 mas pequeño en m2 en venta son la pastora --> 32.0
El bottom 5 mas pequeño en m2 en venta son el pedregal --> 35.0
El bottom 6 mas pequeño en m2 en venta son manchester --> 37.0
El bottom 7 mas pequeño en m2 en venta son zona industrial 7 --> 38.0
El bottom 8 mas pequeño en m2 en venta son barichara san antonio de prado --> 39.0
El bottom 9 mas pequeño en m2 en venta son buenos aires suroriente --> 39.0
El bottom 10 mas pequeño en m2 en venta son belen la gloria --> 40.0

# 8

In [74]:
#Import the data
df = pd.read_excel('realEstateDataAssessment.xlsx')

In [75]:
#Nomalize the  elpoblado neighborhood data
df['barrio'] = df['barrio'].str.lower()
df.head()

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
0,Apartamento,Arriendo,NorOriente,la milagrosa,Medellín,130.0,2.0,1500000.0,3.0,Estrato 3
1,Apartamento,Arriendo,SurOriente,oviedo,Medellín,150.0,3.0,3400000.0,3.0,Estrato 6
2,Apartamento,Arriendo,SurOriente,castropol,Medellín,140.0,3.0,5500000.0,2.0,Estrato 6
3,Apartamento,Arriendo,SurOriente,el poblado,Medellín,111.0,3.0,2990000.0,3.0,Estrato 6
4,Apartamento,Arriendo,SurOriente,el poblado,Medellín,150.0,3.0,3300000.0,3.0,Estrato 6

In [76]:
df_la = df.loc[df['barrio'].isin(['laureles'])]
df_la

,inmueble,oferta,region,barrio,ciudad,area_metros,baños,precio,habitaciones,estrato
48,Apartamento,Arriendo,Occidente,laureles,Medellín,150.0,4.0,2500000.0,3.0,Estrato 5
52,Apartamento,Arriendo,Occidente,laureles,Medellín,105.0,3.0,2900000.0,3.0,Estrato 4
78,Apartamento,Arriendo,Occidente,laureles,Medellín,120.0,3.0,5700000.0,2.0,Estrato 5
85,Apartamento,Arriendo,NaN,laureles,Medellín,110.0,2.0,1800000.0,3.0,Estrato 5
87,Apartamento,Arriendo,NaN,laureles,Medellín,110.0,3.0,4900000.0,3.0,Estrato 5
...,...,...,...,...,...,...,...,...,...,...
22379,Apartamento,Venta,Occidente,laureles,Medellín,47.0,2.0,245000000.0,1.0,Estrato 4
22529,Apartamento,Venta,Occidente,laureles,Medellín,50.0,2.0,275000000.0,2.0,Estrato 5
22574,Apartamento,Venta,NaN,laureles,Medellín,50.0,2.0,300000000.0,2.0,Estrato 4
22600,Apartamento,Venta,Occidente,laureles,Medellín,50.0,1.0,270000000.0,1.0,Estrato 5
22620,Apartamento,Venta,Occidente,laureles,Medellín,50.0,2.0,325000000.0,2.0,Estrato 4

In [77]:
# Get df where properties in Laureles has 2 bathsrooms a 3 bedrooms
status = df['oferta'].unique()

top_dict_rent = {}
top_dict_sale = {}

for i in status:
    if i == 'Arriendo':
        ans = df_la.query("baños == 2 and habitaciones == 3 and oferta == @i and precio < 18e6")
        la_mean = ans['precio'].mean()
        temp_reg = i
        top_dict_rent[temp_reg] = la_mean
        print("El precio promedio de una propiedad en Laureles con 2 baños y 3 habitaciones en " + str(i) + " es de " + 
                  str(la_mean) +"\n")
    else:
        ans = df_la.query("baños == 2 and habitaciones == 3 and oferta == @i")
        la_mean = ans['precio'].mean()
        temp_reg = i
        top_dict_sale[temp_reg] = la_mean
        print("El precio promedio de una propiedad en Laureles con 2 baños y 3 habitaciones en " + str(i) + " es de " + 
                  str(la_mean) +"\n")
        
for clave in top_dict_rent:
    valor = top_dict_rent.get(clave)
    #print("En la clave {} tenemos a {}".format(clave, valor))
    f = open('q8r.txt','a')
    f.write(str(clave) + ',' + str(valor) +"\n")
    f.close()

for clave in top_dict_sale:
    valor = top_dict_sale.get(clave)
    #print("En la clave {} tenemos a {}".format(clave, valor))
    f = open('q8s.txt','a')
    f.write(str(clave) + ',' + str(valor) +"\n")
    f.close()

El precio promedio de una propiedad en Laureles con 2 baños y 3 habitaciones en Arriendo es de 2705100.0

El precio promedio de una propiedad en Laureles con 2 baños y 3 habitaciones en Venta es de 485134672.3044397

In [104]:
top_dict_rent

{'Arriendo': 2705100.0}

In [105]:
top_dict_sale

{'Venta': 485134672.3044397}